<html>
<script src="lib/vue.js"></script>
<script src="lib/common.js"></script>
<style>
.plc {

}
th {
	background-color: #f0f0f0;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}

.op {
	margin: 10px 0px;
}
button {
	min-width: 100px;
}
</style>

<body>
<div id="app">
	<div class="plc" v-for="(plc, plcname) in plcs">
		<a href="conf.html" target="_blank">Plc={{plcname}} ({{plc.addr}})</a>
		<table class="items">
			<tr>
				<th>变量名</th>
				<th>地址</th>
				<th>值 <span style="font-size:0.7em; color:blue">(双击修改)</span></th>
			</tr>
			<tr class="item" v-for="(item, itemname) in plc.items">
				<td>{{itemname}}</td>
				<td>{{item.addr}}</td>
				<td align="right" @dblclick="setValue(plcname, itemname, item.val)">{{item.val}}</td>
			</tr>
		</table>
	</div>
</div>
</body>

<script>
var vm = new Vue({
	el: "#app",
	data: {
		plcs: {},
	},
	async created() {
		this.plcs = await callSvr("plc.json", null, {jdcloud:0});
		this.update();
		setInterval(() => this.update(), 5000);
	},
	methods: {
		async update() {
			for (const [plcname, plc] of Object.entries(this.plcs)) {
				const rv = await callSvr(makeUrl("Plc.read", {code: plcname, items: "ALL"}), null, {jdcloud: 0});
				if (!isArray(rv) || rv[0])
					return;
				for (const [k, v] of Object.entries(rv[1])) {
					if (plc.items[k] === undefined) {
						console.warn(`unknown field ${plcname}.${k}`);
						continue;
					}
					this.$set(plc.items[k], "val", v);
				}
			}
		},

		setValue(plcname, itemname, val) {
			var newval = prompt(itemname,  val);
			if (newval != null)
				callSvr(makeUrl("Plc.write", {code: plcname}), `${itemname}=${newval}`);
		}
	}
});

</script>
</html>
