<html>
<title>plcserver</title>
<!--
默认刷新频率为5000ms，可通过URL参数tv设置，如 http://localhost/plcserver/?tv=1000
-->
<script src="lib/vue.js"></script>
<script src="lib/common.js"></script>
<style>
.plc {

}
.items {
	width: 100%;
}
th {
	background-color: #f0f0f0;
	text-align: left;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
	min-width: 100px;
}
.hl {
	background-color: #ffcccc;
}
.hint {
	font-size: 0.7em;
	color: blue;
}
</style>

<body>
<h1>plcserver
<a href="conf.html" class="hint" target="_blank">配置</a>
</h1>
<div id="app">
	<div class="plc" v-for="(plc, plcname) in plcs">
		<table class="items">
			<tr>
				<th style="width: 200px">PLC={{plcname}}</th>
				<th style="width: 200px">{{plc.addr}}</th>
				<th style="width: 200px">{{plc.dscr}}</th>
				<th></th>
			</tr>
			<tr>
				<th>变量名</th>
				<th>地址</th>
				<th style="text-align: right">值 <span class="hint">(双击修改)</span></th>
				<th>备注</th>
			</tr>
			<tr class="item" v-for="(item, itemname) in plc.items">
				<td>{{itemname}}</td>
				<td>{{item.addr}}</td>
				<td :class="{hl: item.hl}" align="right" @dblclick="setValue(plcname, itemname, item.val)">{{item.val}}</td>
				<td><span class="hint">{{item.dscr}}</span></td>
			</tr>
		</table>
	</div>
</div>
</body>

<script>
var vm = new Vue({
	el: "#app",
	data: {
		plcs: {}, // %{plcname => { addr, dscr?, disabled?, items=%{itemname => {addr, dscr?, disabled?, val?, hl?} }
	},
	async created() {
		this.plcs = await callSvr("plc.json", null, {jdcloud:0});
		this.update();
		setInterval(() => this.update(), (g_args.tv || 5000));
	},
	methods: {
		update() {
			const this_ = this;
			for (const [plcname, plc] of Object.entries(this.plcs)) {
				const rv = callSvr(makeUrl("Plc.read", {code: plcname, items: "ALL"}), null, {jdcloud: 0});
				rv.then(function (data) {
					api_PlcRead(data, plcname, plc);
				});
			}

			function api_PlcRead(rv, plcname, plc) {
				if (!isArray(rv) || rv[0])
					return;
				for (const [k, v] of Object.entries(rv[1])) {
					if (plc.items[k] === undefined) {
						console.warn(`unknown field ${plcname}.${k}`);
						return;
					}
					var v1 = v.toString();
					var oldVal = plc.items[k].val;
					if (oldVal != v1) {
						// highlight
						if (plc.items[k].hl === undefined) {
							this_.$set(plc.items[k], "hl", 1);
						}
						else {
							++ plc.items[k].hl;
						}
						setTimeout(() => {
							-- plc.items[k].hl;
						}, 3000);
					}
					this_.$set(plc.items[k], "val", v1);
				}
			}
		},

		setValue(plcname, itemname, val) {
			var newval = prompt(itemname,  val);
			if (newval != null)
				callSvr(makeUrl("Plc.write", {code: plcname}), `${itemname}=${newval}`);
		}
	}
});

</script>
</html>
